<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/profile-pic.png" class="img-fluid" id="fotodeveloper" alt="Juliana Scaramello">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Juliana Antonella Scaramello</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
        <span><h1 id="AcercaDeMi">-Acerca de mí-</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores, magnam voluptas sunt aut modi atque id, voluptatibus tenetur rerum quaerat amet doloribus asperiores commodi, aspernatur recusandae! Vero amet perferendis ut! Lorem ipsum dolor sit amet consectetur adipisicing elit. Et consequuntur ex nesciunt quas optio esse dolorem odio, veritatis deserunt voluptates expedita quod, corrupti explicabo? Reprehenderit maiores eligendi numquam eveniet ipsam.</p></span>
    </div>
</div>
