
    <div class="row">
   
         <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                  <img src="../../../assets/profile-pic.png" class="img-fluid" id="fotodeveloper" alt="Juliana Scaramello">
         </div>

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2" >
            <p id="nombre">Juliana Antonella Scaramello</p>
            <p>Full Stack Developer Junior</p>
        </div>
        
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
            <span> <h1>Acerca de Mí</h1> </span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque voluptas possimus maiores provident corporis iusto mollitia assumenda, nulla dolor a delectus odit quod, amet, officia perferendis alias saepe enim dolores? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae odio atque culpa quo at similique earum. Hic, quidem velit non voluptatem praesentium ipsum quasi porro iste quod, vero aliquid quas?</p>
        </div>
        
    </div>

   

  

