.row{
    padding: 20px;
}

div{
    background-color: #F0E68C;
    text-align: center;
   
}

#nombre{
    font-weight: bold;
    margin-top: 20%;
    margin-left: 10px;
    font-size:1em
}

@media(min-width : 576px){
    #fotodeveloper{
        position:absolute;
        width: 15%;
       border-radius: 80%;
       box-shadow: 3px 3px 3px grey;
       left:2%;
       top:25%;
    }

}


@media(max-width : 575px){
    #fotodeveloper{
        position:absolute;
        width: 30%;
       border-radius: 80%;
       box-shadow: 3px 3px 3px grey;
       left:2%;
       
    }
    
}