<div class="row">
    <h2>Proyectos Realizados</h2>
    <div class="contenedor">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h2>Práctica Html</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat nihil dolorem eveniet praesentium repellat. Dolor, neque rerum rem distinctio dicta mollitia, incidunt recusandae nobis sunt porro reprehenderit culpa, doloribus quo.</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-md-1 parte2">
                    <img src="../../../assets/carrito.png" class="img-fluid img-proyecto" alt="Carrito de compras">
            </div>
    </div>
</div>
