<div class="row" margin="0">
    <h1>-Experiencia Laboral-</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Trabajo 1</h2> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, neque quos ab, quia recusandae quidem ratione quaerat exercitationem, ea aut nostrum at numquam eveniet ipsam ad necessitatibus libero vel. Voluptatibus.
            </p>
            <li> <h2>Trabajo dos</h2>- <h3>(years)</h3></li>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, optio, eveniet architecto blanditiis sed molestiae sequi dolorem magni ullam commodi maxime libero dolor ut asperiores magnam quaerat laborum voluptates eius!</p>
       </ul>
    </div>

</div>